*{
  font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
.App{
  font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
}