
/* Style the accordion section */
.accordion__section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  margin-top: 40px;
  width: 100%;
  
  border: 1px solid #ddd;
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  outline: none;
  justify-content: center;
  transition: background-color 0.6s ease;
  border-bottom: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: white;
}

/* Style the accordion content title */
.accordion__title {
 
  padding: 15px;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: auto;
  scrollbar-width: none;
  border: 1px solid #ddd ;
  background-color: white;
  overflow: auto;
  transition: max-height 0.6s ease;
  
 
}
.setOverflow{
  overflow: none;
}

/* Style the accordion content text */
.accordion__text {
  color: rgb(96, 94, 94);
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  padding: 28px;
}
.accordion_button{
 
  border: 2px solid goldenrod;
  padding: 10px;
  background-color: white;
  color: rgb(232, 170, 16);
  margin-top: 10px;
  margin-right: 10px;
  font-weight: 600;
  margin-bottom: 10px;
}